[submodule "ext/log4cl"]
	path = ext/log4cl
	url = https://github.com/sharplispers/log4cl.git
[submodule "ext/bordeaux-threads"]
	path = ext/bordeaux-threads
	url = https://github.com/sionescu/bordeaux-threads.git
[submodule "ext/alexandria"]
	path = ext/alexandria
	url = https://gitlab.common-lisp.net/alexandria/alexandria.git
[submodule "ext/named-readtables"]
	path = ext/named-readtables
	url = https://github.com/melisgl/named-readtables
[submodule "ext/drakma"]
	path = ext/drakma
	url = https://github.com/edicl/drakma.git
[submodule "ext/chunga"]
	path = ext/chunga
	url = https://github.com/edicl/chunga.git
[submodule "ext/trivial-gray-streams"]
	path = ext/trivial-gray-streams
	url = https://github.com/trivial-gray-streams/trivial-gray-streams.git
[submodule "ext/flexi-streams"]
	path = ext/flexi-streams
	url = https://github.com/edicl/flexi-streams.git
[submodule "ext/cl-ppcre"]
	path = ext/cl-ppcre
	url = https://github.com/edicl/cl-ppcre.git
[submodule "ext/chipz"]
	path = ext/chipz
	url = https://github.com/sharplispers/chipz.git
[submodule "ext/usocket"]
	path = ext/usocket
	url = https://github.com/usocket/usocket.git
[submodule "ext/split-sequence"]
	path = ext/split-sequence
	url = https://github.com/sharplispers/split-sequence.git
[submodule "ext/cl-plus-ssl"]
	path = ext/cl-plus-ssl
	url = https://github.com/cl-plus-ssl/cl-plus-ssl.git
[submodule "ext/trivial-features"]
	path = ext/trivial-features
	url = https://github.com/trivial-features/trivial-features.git
[submodule "ext/babel"]
	path = ext/babel
	url = https://github.com/cl-babel/babel.git
[submodule "ext/trivial-garbage"]
	path = ext/trivial-garbage
	url = https://github.com/trivial-garbage/trivial-garbage.git
[submodule "ext/osicat"]
	path = ext/osicat
	url = https://github.com/osicat/osicat.git
[submodule "ext/archive"]
	path = ext/archive
	url = https://github.com/daewok/archive.git
[submodule "ext/cl-fad"]
	path = ext/cl-fad
	url = https://github.com/edicl/cl-fad.git
[submodule "ext/anaphora"]
	path = ext/anaphora
	url = https://github.com/tokenrove/anaphora
[submodule "ext/iterate"]
	path = ext/iterate
	url = https://gitlab.common-lisp.net/iterate/iterate.git
[submodule "ext/cl-base64"]
	path = ext/cl-base64
	url = https://gitlab.common-lisp.net/clpm/cl-base64.git
[submodule "ext/puri"]
	path = ext/puri
	url = https://gitlab.common-lisp.net/clpm/puri.git
[submodule "ext/trivial-types"]
	path = ext/trivial-types
	url = https://github.com/m2ym/trivial-types.git
[submodule "ext/local-time"]
	path = ext/local-time
	url = https://github.com/dlowe-net/local-time.git
[submodule "ext/exit-hooks"]
	path = ext/exit-hooks
	url = https://github.com/ailisp/exit-hooks.git
[submodule "ext/lake"]
	path = ext/lake
	url = https://github.com/takagi/lake.git
[submodule "ext/cl-syntax"]
	path = ext/cl-syntax
	url = https://github.com/m2ym/cl-syntax.git
[submodule "ext/cl-interpol"]
	path = ext/cl-interpol
	url = https://github.com/edicl/cl-interpol.git
[submodule "ext/cl-unicode"]
	path = ext/cl-unicode
	url = https://github.com/edicl/cl-unicode.git
[submodule "ext/lparallel"]
	path = ext/lparallel
	url = https://github.com/lmj/lparallel.git
[submodule "ext/closer-mop"]
	path = ext/closer-mop
	url = https://github.com/pcostanza/closer-mop.git
[submodule "ext/ironclad"]
	path = ext/ironclad
	url = https://github.com/sharplispers/ironclad.git
[submodule "ext/nibbles"]
	path = ext/nibbles
	url = https://github.com/sharplispers/nibbles.git
[submodule "ext/trivial-utf-8"]
	path = ext/trivial-utf-8
	url = https://gitlab.common-lisp.net/trivial-utf-8/trivial-utf-8.git
[submodule "ext/fast-http"]
	path = ext/fast-http
	url = https://github.com/fukamachi/fast-http.git
[submodule "ext/proc-parse"]
	path = ext/proc-parse
	url = https://github.com/fukamachi/proc-parse.git
[submodule "ext/xsubseq"]
	path = ext/xsubseq
	url = https://github.com/fukamachi/xsubseq.git
[submodule "ext/smart-buffer"]
	path = ext/smart-buffer
	url = https://github.com/fukamachi/smart-buffer.git
[submodule "ext/lisp-invocation"]
	path = ext/lisp-invocation
	url = https://gitlab.common-lisp.net/qitab/lisp-invocation.git
[submodule "ext/cl-conspack"]
	path = ext/cl-conspack
	url = https://github.com/daewok/cl-conspack.git
[submodule "ext/ieee-floats"]
	path = ext/ieee-floats
	url = https://github.com/marijnh/ieee-floats.git
[submodule "ext/fast-io"]
	path = ext/fast-io
	url = https://github.com/rpav/fast-io.git
[submodule "ext/static-vectors"]
	path = ext/static-vectors
	url = https://github.com/sionescu/static-vectors.git
[submodule "ext/adopt"]
	path = ext/adopt
	url = https://github.com/sjl/adopt.git
[submodule "ext/bobbin"]
	path = ext/bobbin
	url = https://github.com/sjl/bobbin.git
[submodule "ext/do-urlencode"]
	path = ext/do-urlencode
	url = https://github.com/drdo/do-urlencode.git
[submodule "ext/deploy"]
	path = ext/deploy
	url = https://github.com/Shinmera/deploy.git
[submodule "ext/documentation-utils"]
	path = ext/documentation-utils
	url = https://github.com/Shinmera/documentation-utils.git
[submodule "ext/trivial-indent"]
	path = ext/trivial-indent
	url = https://github.com/Shinmera/trivial-indent.git
[submodule "ext/cffi"]
	path = ext/cffi
	url = https://github.com/cffi/cffi.git
[submodule "ext/cl-ansi-text"]
	path = ext/cl-ansi-text
	url = https://github.com/pnathan/cl-ansi-text.git
[submodule "ext/cl-colors2"]
	path = ext/cl-colors2
	url = https://notabug.org/cage/cl-colors2.git
[submodule "ext/dexador"]
	path = ext/dexador
	url = https://github.com/fukamachi/dexador.git
[submodule "ext/quri"]
	path = ext/quri
	url = https://github.com/fukamachi/quri.git
[submodule "ext/cl-cookie"]
	path = ext/cl-cookie
	url = https://github.com/fukamachi/cl-cookie.git
[submodule "ext/trivial-mimes"]
	path = ext/trivial-mimes
	url = https://github.com/Shinmera/trivial-mimes.git
[submodule "ext/cl-reexport"]
	path = ext/cl-reexport
	url = https://github.com/takagi/cl-reexport.git
[submodule "ext/s-xml"]
	path = ext/s-xml
	url = https://gitlab.common-lisp.net/s-xml/s-xml.git
